n8n/lead-monitor.json
{
  "id": "3",
  "name": "Hot Lead Monitor",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }]
        }
      },
      "id": "schedule-2",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/api/leads?status=new&limit=20",
        "options": {}
      },
      "id": "get-leads",
      "name": "Get New Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "filter-1",
              "leftValue": "={{ $json.leads.length }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "filter-1",
      "name": "Has New Leads?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [{ "node": "Get New Leads", "type": "main", "index": 0 }]
      ]
    },
    "Get New Leads": {
      "main": [
        [{ "node": "Has New Leads?", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
