n8n/tissu-messenger-bot.json
{
  "name": "Tissu Messenger Bot (Agent API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tissu-messenger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Messenger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "notes": "Facebook-იდან მესიჯის მიღება (POST)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-echo",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-echo",
      "name": "Filter Echo",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300],
      "notes": "ბოტის საკუთარი მესიჯების გაფილტვრა"
    },
    {
      "parameters": {
        "jsCode": "// Extract message from Facebook webhook\nconst body = $input.first().json.body;\nconst entry = body.entry[0];\nconst messaging = entry.messaging[0];\nconst senderId = messaging.sender.id;\nconst message = messaging.message || {};\nconst text = message.text || '';\nconst isEcho = message.is_echo || false;\n\n// Check for image attachments\nlet imageUrl = '';\nconst attachments = message.attachments || [];\nfor (const att of attachments) {\n  if (att.type === 'image') {\n    imageUrl = att.payload?.url || '';\n    break;\n  }\n}\n\n// Skip echo messages or empty\nif (isEcho || (!text && !imageUrl)) {\n  return [{ json: { skip: true } }];\n}\n\n// Build message for agent\nlet agentMessage = text;\nif (imageUrl) {\n  agentMessage = (text || '') + `\\n[კლიენტმა გამოგზავნა ფოტო: ${imageUrl}]`;\n}\n\nreturn [{\n  json: {\n    senderId,\n    text: agentMessage,\n    imageUrl,\n    conversationId: `facebook_messenger_${senderId}`,\n    skip: false\n  }\n}];"
      },
      "id": "extract-msg",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300],
      "notes": "მესიჯის ამოღება + ფოტოს დეტექცია"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-skip",
      "name": "Skip Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [910, 300],
      "notes": "ცარიელი მესიჯების გამოტოვება"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TISSU_API_URL || 'http://localhost:8000' }}/api/support",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.text }}\",\n  \"conversation_id\": \"{{ $json.conversationId }}\",\n  \"channel\": \"facebook_messenger\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "agent-api",
      "name": "Tissu Agent API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300],
      "notes": "აგენტის API — სრული ბოტი ინვენტარით, შეკვეთებით, Vision-ით"
    },
    {
      "parameters": {
        "jsCode": "// Extract agent response\nconst response = $input.first().json;\nconst reply = response.reply || '✨';\nconst senderId = $('Extract Message').first().json.senderId;\nconst toolCalls = response.tool_calls_made || [];\n\n// Prepare product images if inventory was checked\nconst items = [];\nif (response.tool_results_data?.check_inventory?.found) {\n  const products = response.tool_results_data.check_inventory.items || [];\n  for (const p of products) {\n    if (p.image_url) {\n      items.push({\n        code: p.code || '',\n        front: p.image_url,\n        back: p.image_url_back || ''\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    senderId,\n    reply: reply.substring(0, 2000),\n    toolCalls,\n    productImages: items,\n    hasImages: items.length > 0\n  }\n}];"
      },
      "id": "format-reply",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300],
      "notes": "აგენტის პასუხის დაფორმატება + პროდუქტის ფოტოების მომზადება"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FB_PAGE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.senderId }}\" },\n  \"message\": { \"text\": \"{{ $json.reply }}\" }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-text-reply",
      "name": "Send Text Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300],
      "notes": "ტექსტური პასუხის გაგზავნა Messenger-ში"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-images",
              "leftValue": "={{ $('Format Reply').first().json.hasImages }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-images",
      "name": "Has Product Images?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1790, 300],
      "notes": "პროდუქტის ფოტოები თუ არის — გააგრძელე"
    },
    {
      "parameters": {
        "jsCode": "// Split product images into individual messages\nconst formatReply = $('Format Reply').first().json;\nconst senderId = formatReply.senderId;\nconst items = formatReply.productImages || [];\nconst apiUrl = $env.TISSU_API_URL || 'http://localhost:8000';\n\nconst messages = [];\nfor (const item of items) {\n  // Product code\n  if (item.code) {\n    messages.push({\n      senderId,\n      type: 'text',\n      payload: { text: `📌 ${item.code}` }\n    });\n  }\n  // Front image\n  const frontUrl = item.front.startsWith('/') ? apiUrl + item.front : item.front;\n  messages.push({\n    senderId,\n    type: 'image',\n    payload: { url: frontUrl }\n  });\n  // Back image\n  if (item.back) {\n    const backUrl = item.back.startsWith('/') ? apiUrl + item.back : item.back;\n    messages.push({\n      senderId,\n      type: 'image',\n      payload: { url: backUrl }\n    });\n  }\n}\n\nreturn messages.map(m => ({ json: m }));"
      },
      "id": "split-images",
      "name": "Split Product Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300],
      "notes": "თითოეული პროდუქტის ფოტო ცალკე მესიჯად"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FB_PAGE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.type === 'text' ? JSON.stringify({ recipient: { id: $json.senderId }, message: { text: $json.payload.text } }) : JSON.stringify({ recipient: { id: $json.senderId }, message: { attachment: { type: 'image', payload: { url: $json.payload.url, is_reusable: true } } } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-images",
      "name": "Send Product Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 300],
      "notes": "პროდუქტის ფოტოების გაგზავნა Messenger-ში"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 500],
      "notes": "Facebook-ს 200 OK ვუბრუნებთ"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tissu-messenger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-verify",
      "name": "Verify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 600],
      "notes": "Facebook webhook verification (GET)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "respond-challenge",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [470, 600],
      "notes": "Facebook-ს challenge-ს ვუბრუნებთ"
    }
  ],
  "connections": {
    "Messenger Webhook": {
      "main": [
        [
          { "node": "Filter Echo", "type": "main", "index": 0 },
          { "node": "Respond OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Echo": {
      "main": [
        [{ "node": "Extract Message", "type": "main", "index": 0 }]
      ]
    },
    "Extract Message": {
      "main": [
        [{ "node": "Skip Empty", "type": "main", "index": 0 }]
      ]
    },
    "Skip Empty": {
      "main": [
        [{ "node": "Tissu Agent API", "type": "main", "index": 0 }]
      ]
    },
    "Tissu Agent API": {
      "main": [
        [{ "node": "Format Reply", "type": "main", "index": 0 }]
      ]
    },
    "Format Reply": {
      "main": [
        [{ "node": "Send Text Reply", "type": "main", "index": 0 }]
      ]
    },
    "Send Text Reply": {
      "main": [
        [{ "node": "Has Product Images?", "type": "main", "index": 0 }]
      ]
    },
    "Has Product Images?": {
      "main": [
        [{ "node": "Split Product Images", "type": "main", "index": 0 }]
      ]
    },
    "Split Product Images": {
      "main": [
        [{ "node": "Send Product Images", "type": "main", "index": 0 }]
      ]
    },
    "Verify Webhook": {
      "main": [
        [{ "node": "Return Challenge", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
